<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="https://github.com/zhenruyi" title="my github address">Github</a></li>
      <li><a href="https://space.bilibili.com/24837978" title="my bilibili address">Bilibili</a></li>
    </ul>
</div>
